{% load static %}
<!DOCTYPE>
<html>
	<head>
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<link rel="stylesheet" href="{% static 'css/about.css' %}">
		<link rel="icon" href="{% static 'img/Sicon.png' %}">
		<title>
			About us
		</title>
	</head>
	<Body style="background-color:Black;">

        <script>
            AOS.init();
        </script>

		<div data-aos="fade-up" class="container" style="display:flex; justify-content:center;">
			<center>
				<p style="color:white; font-family:Aviny; margin-left:20px; margin-top:20px; font-size:42px;">درباره ما</p>
				<img style="border-radius:35px; border:15px solid rgb(8,8,8); width:845px; margin-top:10px; height:470px; margin-left:10px;" src="{% static 'img/Poster img/Cloud.png' %}">
				<div style="color:white; background-color:rgb(8,8,8); border-radius:40px; height:1100px; width:830px; margin-top:60px; margin-left:10px; font-family:Lalezar; padding-right:30px; padding-top:30px; padding-left:30px; font-size:30px;"></div>
				<div style="color:white; background-color:rgb(10,10,10); text-align:center;border-radius:40px; height:1000px; width:730px; margin-top:-1080px; margin-left:10px; font-family:Aviny; padding-right:30px; padding-top:30px; padding-left:30px; font-size:30px;">
ما فعالیت خودمون رو از سال ۱۴۰۲ به صورت حرفه ای شروع کردیم و از همون زمان هم هدف اصلی‌ ما آموزش برنامه نویسی تا همین
حالا بوده و به همین منظور مقالات و دوره های برنامه نویسی متعددی برای شما عزیزان تدارک دیدیم. شما با دیدن دوره های مورد علاقه‌تون می تونید به سرعت پیشرفت کنید و به برنامه نویسی حرفه ای تبدیل شوید. البته که خواندن مقالات هم تاثیر بسزایی در این امر دارد! تیم گرافیکی و تولیدکنندگان محتوای سایت شبانه روز در تلاش هستند که با کیفیت ترین امکانات دیزاینی رو در اختیار شما قرار دهند. از ایده برای فرانت سایت تا ادیت ویدیو های آموزشی، عکس مقالات و دوره های برنامه نویسی و موارد دیگر. سایت ما قبلا هم با نام های دیگری فعالیت داشته اما از اونجایی که می خواستیم<br>  کار رو جدی شروع کنیم تصمیم گرفتیم که یه اسم مناسب برای اون انتخاب کنیم و تا دیر نشده کارمون رو شروع کنیم.
 اگر فکر میکنید که در زمینه تولید محتوا، طراحی پوستر برای مقالات و یا دوره ها، ضبط ویدیو بعنوان موارد آموزشی و یا ادیت ویدیو ها می تونید به ما کمک کنید فقط کافیه که به جی‌میل رسمی سایت پیامی بفرستید، خودتون رو معرفی کنید و زمینه ای که در اون مهارت دارید رو اعلام کنید تا پس از بررسی های لازمه به شما پاسخ دهیم. در آخر خواستم ازتون تشکر کنم برای تمام حمایت ها و انرژی های مثبتی که برای ادامه این مسیر به ما دادید				</div>
				<div style="background-color:none; width:1px; height:120px;"</div>
			</center>
		</div>
	</Body>
</html>s